@use 'sass:color';

@tailwind base;
@tailwind components;
@tailwind utilities;

$theme-light: hsl(50deg 84% 90%);
$theme-dark: hsl(240deg 100% 13%);
$theme-yellow: hsl(55deg 100% 50%);

@layer base {
  :root {
    --gradient: hsl(240deg 100% 13%) 2%, hsl(284deg 92% 16%) 57%, hsl(311deg 100% 21%) 73%, hsl(325deg 100% 30%) 82%,
      hsl(340deg 74% 44%) 88%, hsl(357deg 74% 57%) 93%, hsl(15deg 95% 60%) 96%, hsl(31deg 100% 56%) 98%,
      hsl(45deg 100% 50%) 99%, hsl(55deg 100% 50%) 100%;
    --theme-light: #{$theme-light};
    --theme-dark: #{$theme-dark};
    --theme-yellow: #{$theme-yellow};
  }
  html {
    background-color: var(--theme-dark);
    background-image: linear-gradient(180deg, var(--gradient));
    color: var(--theme-light);
    min-height: 100%;
  }
  main {
    @apply grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }
  section {
    margin: 100px auto 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a {
    @apply underline text-theme-light hover:text-theme-yellow transition-colors duration-300;
  }
  h1 {
    @apply text-3xl my-1 mx-0 font-extrabold font-display uppercase;
  }
  h2 {
    @apply text-xl my-1 mx-0 font-extrabold font-display;
  }
  p {
    @apply my-6;
    &:first-child {
      @apply mt-0;
    }
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
      monospace;
    background-color: color.scale($theme-dark, $alpha: -30%);
    border: solid 2px color.scale($theme-dark, $lightness: -30%, $alpha: -30%);
    @apply rounded px-2 py-1;
    &.block {
      @apply p-6 my-6 pl-10 relative;
    }
    svg {
      @apply absolute top-6 left-6 -translate-x-2;
      width: 24px;
      height: 24px;
      fill: var(--theme-light);
    }
  }
}

@layer components {
  .avatar {
    @apply rounded-full w-28 h-28;
  }
  #menu-closer {
    @apply m-0 p-3 inline-block;
  }
  #menu-opener {
    @apply fixed top-6 right-6 p-3 m-0 text-theme-light;
    span,
    svg {
      @apply transition-all duration-300 relative z-10;
    }
    span:last-child {
      @apply absolute opacity-0 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    }
    &:hover {
      @apply text-theme-light;
      :first-child {
        @apply opacity-0 delay-500;
        svg {
          @apply rotate-45 translate-x-[5px] -translate-y-[5px] origin-center delay-0;
        }
      }
      :last-child {
        @apply opacity-100 delay-300;
      }
    }
  }
  
  img.promoimg {
    @apply rounded border-2 border-yellow-500 shadow-black shadow-lg mb-10;
  }

  button,
  .button {
    @apply block md:inline-block rounded-lg px-5 py-3 ring-2 ring-offset-2 ring-offset-blue-950 ring-yellow-500 relative z-10 mx-2 my-4 no-underline cursor-pointer text-center;
    background-color: var(--theme-dark);
    background-image: linear-gradient(45deg, var(--gradient));
    &::after {
      @apply rounded-lg absolute inset-0 opacity-0 transition-all duration-500;
      z-index: -1;
      content: '';
      background-image: linear-gradient(125deg, var(--gradient));
    }
    &:hover,
    &:focus {
      &::after {
        @apply opacity-100;
      }
    }
  }
  footer {
    @apply text-center;
    svg {
      @apply inline w-6 h-6;
      fill: var(--theme-light);
    }
  }
}

@layer utilities {
  .fade-in {
    // @apply opacity-0;
    span {
      animation: fadeIn 500ms ease-in-out;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
