---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Ben Goshow">
  <main>
    <h1>My name is Ben</h1>
    <p>I've been building websites since the dawn of this fair century.</p>
  </main>
</Layout>
