---
import Layout from '../layouts/Layout.astro';
const pageTitle = 'Ben Goshow, Developer';
const pageDescription = 'This is the portfolio of Ben Goshow, Developer';
const animationDelayStagger = [0, 300, 400, 500, 1000];
---

<Layout title={pageTitle} description={pageDescription}>
  <h1 class="md:text-6xl">
    <span class="font-emphatic">Goshstronauts,</span>
    <span>welcome aboard.</span>
  </h1>
  <p class="text-xl md:text-2xl">This is your captain speaking.</p>
  <code class="block">
    <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48">
      <path fill="currentColor" d="m375-240-43-43 198-198-198-198 43-43 241 241-241 241Z"></path>
    </svg>
    Welcome to my front end web developer portfolio and blog. I like outer space so there's a ... theme.
  </code>
  <p class="text-center">
    <a href="/missions" class="button">Missions (Portfolio)</a>
    <a href="/log" class="button">Captain's Log (Blog)</a>
    <a href="/hello" class="button">Meet Your Captain</a>
  </p>
</Layout>
