---
import Layout from '../layouts/Layout.astro';
const pageTitle = 'Ben Goshow, Developer';
const pageDescription = 'This is the portfolio of Ben Goshow, Developer';
---

<Layout title={pageTitle} description={pageDescription}>
  <h1 class="text-6xl"><span>Goshstronauts,</span> welcome aboard.</h1>
  <p class="text-2xl">This is your captain speaking.</p>
  <code class="block">npm run launch</code>
  <button>This is a button</button>
</Layout>
