---
import Layout from '../layouts/Layout.astro';
const pageTitle = 'Ben Goshow, Developer';
const pageDescription = 'This is the portfolio of Ben Goshow, Developer';
---

<Layout title={pageTitle} description={pageDescription}>
  <h1 class="md:text-6xl"><span>Goshstronauts,</span> welcome aboard.</h1>
  <p class="text-xl md:text-2xl">This is your captain speaking.</p>
  <code class="block">
    <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48">
      <path fill="currentColor" d="m375-240-43-43 198-198-198-198 43-43 241 241-241 241Z"></path>
    </svg>
    npm run launch
  </code>
  <button>This is a button</button>
</Layout>
