---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Captain's Log" description="Blog posts about the tech industry">
  <main>
    <h1>Captain's Log</h1>
    <p>Stardate June 21, 2022</p>
  </main>
</Layout>
