<nav class="main">
  <button id="menu-closer">x</button>
  <ul>
    <li><a href="/">Home Base</a></li>
    <li><a href="/missions">Missions and Missives</a></li>
    <li><a href="/log">Captain's Log</a></li>
    <li><a href="/hello">Meet your Captain</a></li>
  </ul>
</nav>
<script>
  const menuButton = document.querySelector('#menu-closer');
  const mainMenu = document.querySelector('nav.main');
  menuButton?.addEventListener('click', (event) => {
    mainMenu?.setAttribute('style', '');
  });
</script>
