<div class="header-menu">
  <button>
    <span class="material-symbols-outlined">rocket</span>
  </button>
  <nav>
    <ul>
      <li><a href="/">Home Base</a></li>
      <li><a href="/missions">Missions and Missives</a></li>
      <li><a href="/log">Captain's Log</a></li>
      <li><a href="/hello">Meet your Captain</a></li>
    </ul>
  </nav>
</div>
