---
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
import '../styles/global.scss';
import MenuButton from '../components/MenuButton.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '@fontsource/rubik';
import '@fontsource/bungee';
import '@fontsource/bungee-shade';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <header>
        <MenuButton />
      </header>
      <section>
        <article>
          <slot />
        </article>
      </section>
      <Footer />
    </main>
    <Navigation />
  </body>
</html>
